body {
	background: #181818;
	color: #f3f3f3;
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	text-shadow: 0 0 1px #eeeeee;}

h2 {
	color: #f3f3f3;
	text-shadow: 0 0 7px #eeeeee;}

/* image sizes */
#profile_icon {
	width: 200px;
	height: 200px;}

/* link stuff */
a:link, a:visited {
	color: #228a67;
	text-decoration: none}
a:link:hover, a:visited:hover {
	/*color: #112921;*/
	text-decoration: underline}
