body {
	background: #181818;
	background-image: url('/img/bg.png');
	background-repeat: repeat;
	color: #f3f3f3;
	text-shadow: 0 0 1px #eeeeee;
}

h2 {
	color: #f3f3f3;
	text-shadow: 0 0 7px #eeeeee;
}

#profile_icon {
	width: 32px;
	height: 32px;
}